<div class="body">
  Christmas Lottery
  <ng-container *ngIf="user != null">
    <br />
    <br />
    <p *ngIf="!user.hasPassword">
      {{user.userName}} ustaw hasło:
    </p>
    <p *ngIf="user.hasPassword">
      {{user.userName}} wpisz swoje hasło:
    </p>
    <input autofocus required (keyup.enter)="checkPassword()" [(ngModel)]="user.password" />
    <button (click)="checkPassword()">Ok</button>
    <br />
  </ng-container>

  <br />
  Wybierz siebie
  <hr />
  <div class="flex">
    <div *ngFor="let user of users; let i = index" (click)="chooseUser(user)" class="user">
      {{i + 1}}. {{user.userName}}
      <hr />
    </div>
  </div>
</div>
