.body {
  text-align: center;
  padding: 250px 20px 10px;
  color: red;
  font-weight: bold;
  font-size: 27px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.user {
    width: 33%;
    cursor: pointer;
}

